body {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

button {
  height: 50px;
  width: 100px;
  margin-right: 10px;
}

#results {
  margin-top: 50px;
}

#score {
  font-size: 20px;
  font-weight: bold;
}

#options {
  margin-top: 50px;
}

#btnRestart {
  margin-top: 50px;
}

#message {
  margin-top: 50px;
}

footer {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  bottom: 0;
  position: absolute;
}